In [6]:
import kagglehub
import pandas as pd

In [4]:
# (~130000 rows)
# Download latest version
path_130 = kagglehub.dataset_download("gayu14/tv-and-movie-metadata-with-genres-and-ratings-imbd")
print("Path to dataset files:", path_130)

Path to dataset files: /home/kvs/.cache/kagglehub/datasets/gayu14/tv-and-movie-metadata-with-genres-and-ratings-imbd/versions/1

In [5]:
# (~5000 rows)
# Download latest version
path_5 = kagglehub.dataset_download("hetbabariya/imdb-movies-data-collection-5000-records")
print("Path to dataset files:", path_5)

Downloading from https://www.kaggle.com/api/v1/datasets/download/hetbabariya/imdb-movies-data-collection-5000-records?dataset_version_number=1...

100%|██████████| 934k/934k [00:00<00:00, 1.51MB/s]

Extracting files...
Path to dataset files: /home/kvs/.cache/kagglehub/datasets/hetbabariya/imdb-movies-data-collection-5000-records/versions/1

In [19]:
ds_130 = pd.read_csv(path_130 + '/IMBD.csv')

In [31]:
ds_130.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129891 entries, 0 to 129890
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   movie        129891 non-null  object
 1   genre        129891 non-null  object
 2   runtime      109005 non-null  object
 3   certificate  23850 non-null   object
 4   rating       114381 non-null  float64
 5   stars        124676 non-null  object
 6   description  129891 non-null  object
 7   votes        114393 non-null  object
 8   director     88611 non-null   object
dtypes: float64(1), object(8)
memory usage: 8.9+ MB

In [21]:
ds_5 = pd.read_csv(path_5 + '/IMDB_Movies_Dataset.csv')

In [32]:
ds_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4989 entries, 0 to 4988
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4989 non-null   int64
 1   Title              4989 non-null   object
 2   Average Rating     4989 non-null   float64
 3   Director           4989 non-null   object
 4   Writer             4988 non-null   object
 5   Metascore          3055 non-null   float64
 6   Cast               4982 non-null   object
 7   Release Date       4989 non-null   object
 8   Country of Origin  4986 non-null   object
 9   Languages          4968 non-null   object
 10  Budget             2651 non-null   object
 11  Worldwide Gross    3895 non-null   object
 12  Runtime            4989 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 506.8+ KB

In [33]:
ds_inner = ds_5.merge(ds_130, left_on='Title', right_on='movie', how='inner')

In [34]:
ds_inner.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6015 entries, 0 to 6014
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         6015 non-null   int64
 1   Title              6015 non-null   object
 2   Average Rating     6015 non-null   float64
 3   Director           6015 non-null   object
 4   Writer             6014 non-null   object
 5   Metascore          4159 non-null   float64
 6   Cast               6010 non-null   object
 7   Release Date       6015 non-null   object
 8   Country of Origin  6010 non-null   object
 9   Languages          5987 non-null   object
 10  Budget             3711 non-null   object
 11  Worldwide Gross    4770 non-null   object
 12  Runtime            6015 non-null   object
 13  movie              6015 non-null   object
 14  genre              6015 non-null   object
 15  runtime            5667 non-null   object
 16  certificate        3039 non-null   object
 17  rating             5716 non-null   float64
 18  stars              5911 non-null   object
 19  description        6015 non-null   object
 20  votes              5716 non-null   object
 21  director           4907 non-null   object
dtypes: float64(3), int64(1), object(18)
memory usage: 1.0+ MB

In [25]:
ds_inner.head()

,Unnamed: 0,Title,Average Rating,Director,Writer,Metascore,Cast,Release Date,Country of Origin,Languages,...,Runtime,movie,genre,runtime,certificate,rating,stars,description,votes,director
0,0,The Shawshank Redemption,9.3,Frank Darabont,"Stephen King, Frank Darabont",82.0,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","October 14, 1994 (India)",United States,English,...,2 hours 22 minutes,The Shawshank Redemption,Drama,142 min,A,9.3,"['Tim Robbins, ', 'Morgan Freeman, ', 'Bob Gun...","Over the course of several years, two convicts...",$28.34M,['Frank Darabont']
1,2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.0,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1978 (India),United States,"English, Italian, Latin",...,2 hours 55 minutes,The Godfather,"Action, Crime, Drama",NaN,NaN,8.3,"['Marlon Brando, ', 'Robert Duvall, ', 'James ...","Set in New York from 1945-1955, Players will j...","3,880",['Peter Mitchell Rubin']
2,2,The Godfather,9.2,Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",100.0,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1978 (India),United States,"English, Italian, Latin",...,2 hours 55 minutes,The Godfather,"Crime, Drama",175 min,A,9.2,"['Marlon Brando, ', 'Al Pacino, ', 'James Caan...","Don Vito Corleone, head of a mafia family, dec...",$134.97M,['Francis Ford Coppola']
3,3,Hababam Sinifi,9.2,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz",NaN,"Münir Özkul, Tarik Akan, Halit Akçatepe, Kemal...","April 1, 1975 (Turkey)",Turkey,Turkish,...,1 hour 25 minutes,Hababam Sinifi,"Comedy, Drama",87 min,NaN,9.2,"['Kemal Sunal, ', 'Münir Özkul, ', 'Halit Akça...","Lazy, uneducated students share a very close b...","41,982",['Ertem Egilmez']
4,4,Ramayana: The Legend of Prince Rama,9.2,"Ram Mohan, Yûgô Sakô, Koichi Saski","Rani Burra, Ram Mohan, Yûgô Sakô",NaN,"Arun Govil, Nikhil Kapoor, Edie Mirman, Rael P...","September 25, 2001 (India)","India, Japan",English,...,2 hours 15 minutes,Ramayana: The Legend of Prince Rama,"Animation, Action, Adventure",135 min,U,9.2,"['Arun Govil, ', 'Nikhil Kapoor, ', 'Edie Mirm...",An anime adaptation of the Hindu epic the Rama...,"12,417",NaN